@keyframes animateProjectForward {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes animateProjectBackward {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes animatePointingArrowRight {
  0% { transform: translateX(0); }
  50% { transform: translateX(6px); }
  100% { transform: translateX(0); }
}

@keyframes animatePointingArrowLeft {
  0% { transform: translateX(0); }
  50% { transform: translateX(-6px); }
  100% { transform: translateX(0); }
}

@keyframes paperPlaneFly {
  6% { transform: translate(-10px, 10px); }
  24% { transform: translate(-15px, 15px); opacity: 1; }
  70% { transform: translate(75vw, -100vh); opacity: 0; }
  71% { transform: translate(0, 0); opacity: 0; }
  80% { opacity: 0; }
  100% { opacity: 1; }
}
