@mixin typography($color: $main-gray-color) {
  font: 16px "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: $color;
}

@mixin transparentHover() {
  transition: opacity 0.12s ease-out;

  &:hover {
    opacity: 1;
  }
}

@mixin sectionWidth() {
  width: 530px;
  max-width: 100%;

  @media (min-width: $medium-breakpoint) {
    max-width: 900px;
    width: 70%;
  }
}

@mixin indentSectionWidth() {
  width: 460px;
  max-width: 100%;

  @media (min-width: $medium-breakpoint) {
    max-width: 830px;
    width: calc(70% - 70px);
  }
}
