$main-gray-color: #263238;
$medium-gray-color: #E2E2E7;
$light-gray-color: #EDEDED;
$main-white-color: #FFF;

$main-action-color: #41B883;

$main-shadow-color: rgba($main-gray-color, 0.8);
$light-shadow-color: rgba($main-gray-color, 0.4);

$big-breakpoint: 1099px;
$medium-breakpoint: 899px;
$small-breakpoint: 599px;

$scrollbar-width: 16px;
