@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/* Modules */
#contact-icons {
  display: inline-flex;
  align-items: center; }
  #contact-icons a {
    margin: 0 12px;
    width: 40px; }
    #contact-icons a img {
      width: 100%;
      padding: 4px;
      border-radius: 8px; }
    #contact-icons a:hover > img {
      animation: GlitchedIcon 220ms infinite; }

@keyframes GlitchedIcon {
  0% {
    filter: drop-shadow(4px 3px #00E0BE) drop-shadow(-4px -5px #FF6E80); }
  25% {
    filter: drop-shadow(-4px -5px #00E0BE) drop-shadow(4px 3px #FF6E80); }
  50% {
    filter: drop-shadow(-4px -3px #00E0BE) drop-shadow(-6px 3px #FF6E80); }
  75% {
    filter: drop-shadow(-6px -3px #00E0BE) drop-shadow(-4px -3px #FF6E80); }
  100% {
    filter: drop-shadow(-4px 0px #00E0BE) drop-shadow(4px -3px #FF6E80); } }
  #contact-icons #paper-plane-flying {
    animation: Fly 1500ms ease; }

@keyframes Fly {
  6% {
    transform: translate(-10px, 10px); }
  24% {
    transform: translate(-15px, 15px);
    opacity: 1; }
  70% {
    transform: translate(75vw, -100vh);
    opacity: 0; }
  71% {
    transform: translate(0, 0);
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.home-card {
  transition: ease-out 0.16s; }
  .home-card:hover {
    box-shadow: inset 0 0 40px #263238;
    cursor: pointer; }
  .home-card a {
    display: block;
    height: 100%; }
    .home-card a .card-content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100%; }
      .home-card a .card-content .card-icon {
        font-size: 52px; }
      .home-card a .card-content h2 {
        font: bold 22px "Ubuntu", sans-serif;
        text-transform: uppercase;
        margin-top: 10px; }

#about-home-card {
  background: #8AB4F8; }

#projects-home-card {
  background: #F28B82; }

#skills-home-card {
  background: #81C995; }

#funfacts-home-card {
  background: #FDD663; }

/* Views */
#sidebar {
  display: flex;
  align-items: center;
  background: #ffffff;
  position: fixed;
  padding: 45px;
  height: 100%;
  min-height: 410px;
  width: 40%;
  z-index: 1; }
  @media (max-width: 899px) {
    #sidebar {
      position: relative;
      justify-content: center;
      height: 100vh;
      width: 100%; } }
  #sidebar #sidebar-content #sidebar-title,
  #sidebar #sidebar-content #sidebar-desc {
    color: #263238;
    margin: 0 0 25px 0; }
  #sidebar #sidebar-content #sidebar-title {
    font: bold 40px "Ubuntu", sans-serif;
    text-transform: uppercase; }
  #sidebar #sidebar-content #sidebar-desc {
    font: 16px "Open Sans", sans-serif;
    max-width: 480px;
    line-height: 1.4; }

#home-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
  width: 100%; }

#projects {
  width: 100%; }
  #projects .project-single {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 700px;
    padding: 35px;
    height: 100vh; }
    #projects .project-single .project-name {
      display: flex;
      align-items: center; }
      #projects .project-single .project-name .logo {
        image-rendering: high-quality;
        margin-right: 12px; }
      #projects .project-single .project-name h2 {
        font: bold 32px "Ubuntu", sans-serif;
        text-transform: uppercase;
        color: #263238;
        margin: 0; }
    #projects .project-single .project-img {
      max-width: 100%;
      width: 480px;
      border-radius: 8px;
      box-shadow: 0 0 12px #263238;
      margin-top: 24px;
      margin-bottom: 8px;
      opacity: 0.75; }
    #projects .project-single .project-desc {
      font: 16px "Open Sans", sans-serif;
      color: #263238;
      max-width: 480px; }
    #projects .project-single .project-details {
      display: inline-flex;
      justify-content: space-between;
      width: 480px;
      max-width: 100%; }
      #projects .project-single .project-details .project-technologies {
        list-style: none;
        padding: 0;
        margin: 0; }
        #projects .project-single .project-details .project-technologies .project-technology {
          font: bold 20px "Ubuntu", monospace;
          color: #263238;
          text-transform: uppercase;
          text-align: right;
          cursor: default;
          opacity: 0.4;
          transition: opacity 0.12s ease-out; }
          #projects .project-single .project-details .project-technologies .project-technology:hover {
            opacity: 1; }
      #projects .project-single .project-details .project-sites {
        display: inline-flex;
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 8px; }
        #projects .project-single .project-details .project-sites .project-site {
          height: 44px; }
          #projects .project-single .project-details .project-sites .project-site .project-link {
            display: block;
            height: 100%; }
            #projects .project-single .project-details .project-sites .project-site .project-link:hover ~ .project-badge,
            #projects .project-single .project-details .project-sites .project-site .project-link:hover > .project-icon {
              opacity: 1; }
            #projects .project-single .project-details .project-sites .project-site .project-link .project-icon {
              font-size: 36px;
              color: #263238;
              transition: opacity 0.12s ease-out;
              padding: 4px;
              opacity: 0.4;
              transition: opacity 0.12s ease-out; }
          #projects .project-single .project-details .project-sites .project-site .project-badge {
            position: absolute;
            font: bold 11px "Ubuntu", sans-serif;
            color: #ffffff;
            text-transform: uppercase;
            background: #263238;
            padding: 2px 4px;
            border-radius: 4px;
            user-select: none;
            opacity: 0.4;
            z-index: 1;
            transition: opacity 0.12s ease-out; }
          #projects .project-single .project-details .project-sites .project-site .project-badge.live {
            transform: translateX(6px); }
          #projects .project-single .project-details .project-sites .project-site .project-badge.code {
            transform: translateX(3px); }

footer {
  background: #263238;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex; }
  footer ::selection {
    background: #ffffff;
    color: #263238; }
  footer h2 {
    font: 16px "Open Sans", sans-serif;
    color: #ffffff;
    text-align: center;
    line-height: 1.4; }
  footer #footer-copyright {
    margin-bottom: 30px; }

#footer-separator {
  margin-bottom: -5px;
  width: 100%; }

* {
  box-sizing: border-box; }

body,
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  padding: 0;
  margin: 0; }

body::-webkit-scrollbar {
  width: 16px; }

body::-webkit-scrollbar-track {
  background: #ffffff; }

body::-webkit-scrollbar-thumb {
  background: #263238;
  border: 4px solid #ffffff;
  border-radius: 16px; }

::selection {
  background: #263238;
  color: #ffffff; }

a {
  color: #263238;
  text-decoration: none; }

.material-icons,
img {
  user-select: none; }

#content-wrapper {
  margin-left: 40%; }
  @media (max-width: 899px) {
    #content-wrapper {
      margin-left: 0; } }
