:root {
  --BACKGROUND_COLOR: 242, 242, 242;
  --TEXT_COLOR: 38, 50, 56;
  --SHADOW_COLOR: 0, 0, 0;

  --FEATURED_CARD_GRID: repeat(3, 1fr);
  --FEATURED_CARD_PADDING: 64px;
  --FEATURED_CARD_MARGIN: 32px;
  --FEATURED_CARD_TITLE_Z-INDEX: 1;

  --CONTENT_WIDTH: 1000px;
  --CONTENT_NAVIGATION_Z-INDEX: 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --BACKGROUND_COLOR: 22, 26, 29;
    --TEXT_COLOR: 195, 209, 219;
  }
}

@media screen and (max-width: 1000px) {
  :root {
    --FEATURED_CARD_GRID: repeat(2, 1fr);
    --FEATURED_CARD_MARGIN: 16px;
  }
}

@media screen and (max-width: 800px) {
  :root {
    --FEATURED_CARD_GRID: 1fr;
    --FEATURED_CARD_PADDING: 48px;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --FEATURED_CARD_PADDING: 32px;
  }
}
