---
export interface Props {
  class?: string;
}

const { class: className, ...props } = Astro.props;
---

<div class:list={className} {...props}>
  <slot />
</div>

<style>
  div {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: 1rem;
    margin-block: 1.5em;
  }
</style>
