---
import IonIcon from '@/components/Base/IonIcon.astro';
import '@/styles/animations/return-arrow.css';
---

<nav>
  <a href="/">
    <IonIcon name="arrow-back" class="icon" />
  </a>
</nav>

<style>
  nav {
    position: relative;
    padding: 1rem var(--FEATURED_CARD_MARGIN);
  }

  nav a {
    display: inline-flex;
    border-radius: 0.25rem;
    text-decoration: none;
  }

  nav a:hover,
  nav a:focus-visible {
    animation: return-arrow 0.6s infinite;
  }

  nav a .icon {
    color: rgb(var(--TEXT_COLOR));
    font-size: 3rem;
  }
</style>
