---
export interface Props {
  title: string;
  class?: string;
}

const { title, class: className, ...props } = Astro.props;
---

<h1 class:list={className} {...props}>
  {title}
</h1>

<style>
  h1 {
    color: rgb(var(--TEXT_COLOR));
  }
</style>
