---
export interface Props {
  color: string;
  class?: string;
}

const { color, class: className } = Astro.props;
---

<div class:list={className} style={{ background: color }}></div>

<style>
  div {
    position: absolute;
    inset: 0;
    border-radius: inherit;
    opacity: 20%;
  }

  /**
   * @see https://m2.material.io/design/color/dark-theme.html#ui-application
   */
  @media (prefers-color-scheme: dark) {
    div {
      filter: grayscale(40%);
    }
  }
</style>
