---
export interface Props {
  color: string;
}

const { color } = Astro.props;
---

<div style={{ background: color }}></div>

<style>
  div {
    position: absolute;
    inset: 0;
    border-radius: inherit;
    opacity: 0.15;
    z-index: 1;
  }
</style>
