---
export interface Props {
  name: string;
  class?: string;
  style?: object;
}

const { name, class: className, style } = Astro.props;
---

<span class:list={['material-icons', className]} style={style}>
  {name}
</span>

<style>
  .material-icons {
    user-select: none;
  }
</style>
