$main-gray-color: #263238;
$light-gray-color: #EDEDED;
$medium-gray-color: #E2E2E7;
$main-white-color: #FFF;

$main-shadow-color: rgba($main-gray-color, 0.8);
$light-shadow-color: rgba($main-gray-color, 0.4);

$main-action-color: #8AB4F8;
$active-action-color: #6095EB;

$home-blue-color: #8AB4F8;
$home-red-color: #F28B82;
$home-green-color: #81C995;
$home-yellow-color: #FDD663;

$laptop-breakpoint: 1199px;
$tablet-breakpoint: 899px;
$mobile-breakpoint: 599px;

$scrollbar-width: 16px;
