$main-gray-color: #263238;
$light-gray-color: #EBE6E6;
$main-white-color: #FFFFFF;

$main-action-color: #8AB4F8;

$main-blue-color: #8AB4F8;
$main-red-color: #F28B82;
$main-green-color: #81C995;
$main-yellow-color: #FDD663;

$tablet-breakpoint: 899px;
$mobile-breakpoint: 599px;

$scrollbar-width: 16px;
$min-section-height: 500px;
