$main-pink-color: #FF6E80;
$main-turq-color: #00E0BE;

$main-gray-color: #263238;
$main-white-color: #FFFFFF;

$light-gray-color: #EBE6E6;

$scrollbar-width: 16px;
$mobile-breakpoint: 899px;
$min-section-height: 740px;
