#contact
{
  position: relative;
  background: $main-purple-color;
  width: 1130px; max-width: 90vw;
  margin: 0 auto; padding: 60px 30px;
  margin-top: -280px;
  box-shadow: 0 0 12px $main-gray-color;
  border-radius: 20px;
  z-index: 1;

  #contact-intro
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 480px;
    margin: 0 auto;
    row-gap: 25px;

    h3
    {
      font: bold 34px "Ubuntu", sans-serif;
      color: #E8FFFC;
      margin: 0;
    }

    p
    {
      font: 22px "Ubuntu", sans-serif;
      text-align: center;
      color: #E8FFFC;
      margin: 0;
    }

    #contact-icons
    {
      a
      {
        display: inline-flex;
        margin: 0 16px;
        width: 58px;

        img
        {
          width: 100%;
          padding: 8px;
          transition: .2s transform;
          border-radius: 8px;
          cursor: pointer;
        }

        &:hover > img
        { transform: scale(1.25); }
      }

      #paper-plane-flying
      { animation: Fly 1500ms ease; }

      @keyframes Fly
      {
        6% { transform: translate(-10px, 10px); }
        24% { transform: translate(-15px, 15px); opacity: 1; }
        70% { transform: translate(75vw, -100vh); opacity: 0; }
        71% { transform: translate(0, 0); opacity: 0; }
        80% { opacity: 0; }
        100% { opacity: 1; }
      }
    }
  }

  ::selection
  {
    background: $main-turq-color;
    color: $dark-purple-color;
  }

  @media(max-width: 749px)
  { padding: 24px 16px; }

  @media(max-width: 439px)
  {
    #contact-intro
    {
      h3
      { font: bold 27px "Ubuntu", sans-serif; }

      #contact-icons
      {
        a
        {
          width: 52px;
          margin: 0 5px;
        }
      }
    }
  }

}
