footer {
  position: relative;
  background: $main-pink-color;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 200px;

  h2 {
    width: 80%;
    transform: translateY(-50%);
    font: bold 22px "Ubuntu", sans-serif;
    color: $main-gray-color;
    text-align: center;
    margin: 20px;
  }
}
