footer {
  background: $main-gray-color;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;

  ::selection {
    background: $main-white-color;
    color: $main-gray-color;
  }

  h2 {
    font: 16px "Open Sans", sans-serif;
    color: $main-white-color;
    text-align: center;
    line-height: 1.4;
  }

  #footer-copyright {
    margin-bottom: 30px;
  }
}

#footer-separator {
  margin-bottom: -5px;
  width: 100%;
}
