footer {
  background: $main-gray-color;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;

  ::selection {
    background: $main-white-color;
    color: $main-gray-color;
  }

  h2 {
    text-align: center;
    @include basicText("white");

    .love {
      transform: translateY(3px);
      color: $main-action-color;
      font-size: 18px;
      margin: 0 3px;
    }
  }

  #footer-copyright {
    margin-bottom: 30px;
  }
}

#footer-separator {
  width: calc(100% + 1px);
  margin-bottom: -5px;
}
