@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import "./_variables.scss";
@import "./_mixins.scss";

/* Modules */
@import "./contact.scss";
@import "./home-cards.scss";

/* Views */
@import "./sidebar.scss";
@import "./home-page.scss";
@import "./about-page.scss";
@import "./projects-page.scss";
@import "./skills-page.scss";
@import "./other-page.scss";
@import "./footer.scss";

* {
  box-sizing: border-box;
}

body,
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar {
  width: $scrollbar-width;
}

body::-webkit-scrollbar-track {
  background: $main-white-color;
}

body::-webkit-scrollbar-thumb {
  background: $main-gray-color;
  border: 4px solid $main-white-color;
  border-radius: 16px;
}

::selection {
  background: $main-gray-color;
  color: $main-white-color;
}

a {
  color: $main-gray-color;
  text-decoration: none;
}

.link {
  font: 16px "Open Sans", sans-serif;
  border-bottom: 1px solid $main-action-color;
  box-shadow: inset 0 -2px 0 $main-action-color;
  transition: box-shadow 0.22s ease-in-out, border-radius 0.12s ease-out;
  padding: 1px 2px 0;

  &:hover {
    box-shadow: inset 0 -23px 0 $main-action-color;
    border-radius: 4px;
  }
}

.material-icons,
img {
  user-select: none;
}

#content-wrapper {
  margin-left: 40%;

  @media (max-width: $tablet-breakpoint) {
    margin-left: 0;
  }
}
