// Home page animated lasers styling

$shooting-time: 12000ms;
$screen-offset-w: calc(100vw - 60px);
$screen-offset-h: calc(100vh - 60px);

#main {
  position: relative;
  background:
    linear-gradient(
      $melon-color 0%,
      $salmon-color 100%
    );
  width: $screen-offset-w;
  min-height: $screen-offset-h;
  border-radius: 20px;
  display: flex;
  overflow: hidden;

  .laser {
    position: absolute;
    left: 0; top: 0;
    height: 3px;
    background:
      linear-gradient(
        -45deg,
        $main-pink-color,
        rgba(0, 0, 255, 0)
      );
    border-radius: 8px;
    animation:
      tail $shooting-time ease-in-out infinite,
      shooting $shooting-time ease-in-out infinite;

    @for $i from 1 through 25 {
      &:nth-child(#{$i}) {
        $delay: random(9999) + 0ms;

        left: 0;
        top: calc(98% - #{random(96) + 0%});
        animation-delay: $delay;
      }
    }
  }

  // Keyframes animations
  @keyframes tail {
    0% { width: 0; }
    30% { width: 100px; }
    100% { width: 0; }
  }

  @keyframes shooting {
    0% { transform: translateX(0); }
    100% { transform: translateX($screen-offset-w); }
  }

  // Responsive lasers shooting
  @media (max-width: 599px) {
    $screen-offset-w: calc(100vw - 32px);
    $screen-offset-h: calc(100vh - 32px);

    width: $screen-offset-w;
    min-height: $screen-offset-h;

    @keyframes shooting {
      0% { transform: translateX(0); }
      100% { transform: translateX($screen-offset-w); }
    }
  }
}
