#loading
{
  position: fixed; display: grid;
  width: 100vw; height: 100vh;
  grid-template-rows: 1fr 1fr;
  animation: disableLoading 2.2s;
  animation-fill-mode: forwards;
  z-index: 99;

  #top-loader
  {
    background-color: $main-pink-color;
    animation: loadInTop 1.7s;
    animation-fill-mode: forwards;
    animation-delay: 500ms;
  }

  #bottom-loader
  {
    background-color: $main-pink-color;
    animation: loadInBottom 1.7s;
    animation-fill-mode: forwards;
    animation-delay: 500ms;
  }

  @keyframes loadInTop
  {
    0% { height: 100%; }
    100% { height: 0%; display: none; }
  }

  @keyframes loadInBottom
  {
    0% { transform: translateY(0); }
    100% { transform: translateY(100%); display: none; }
  }

  @keyframes disableLoading
  {
    0% { visibility: initial; }
    100% { visibility: hidden; }
  }
}
