#projects {
  width: 100%;

  .project-single {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: $min-section-height;
    padding: 35px;
    height: 100vh;

    $content-width: 480px;

    .project-name {
      display: flex;
      align-items: center;

      .logo {
        image-rendering: high-quality;
        margin-right: 12px;
      }

      h2 {
        font: bold 32px "Ubuntu", sans-serif;
        text-transform: uppercase;
        color: $main-gray-color;
        margin: 0;
      }
    }

    .project-img {
      max-width: 100%;
      width: $content-width;
      border-radius: 8px;
      box-shadow: 0 0 12px $main-gray-color;
      margin-top: 24px;
      margin-bottom: 8px;
      opacity: 0.75;
    }

    .project-desc {
      font: 16px "Open Sans", sans-serif;
      color: $main-gray-color;
      max-width: $content-width;
    }

    .project-details {
      display: inline-flex;
      justify-content: space-between;
      width: $content-width;
      max-width: 100%;

      .project-technologies {
        list-style: none;
        padding: 0;
        margin: 0;

        .project-technology {
          font: bold 20px "Ubuntu", monospace;
          color: $main-gray-color;
          text-transform: uppercase;
          text-align: right;
          cursor: default;
          opacity: 0.4;

          @include transparentHover;
        }
      }

      .project-sites {
        display: inline-flex;
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 8px;

        .project-site {
          height: 44px;

          .project-link {
            @include link;

            &:hover {
              & ~ .project-badge,
              & > .project-icon {
                opacity: 1;
              }
            }

            .project-icon {
              font-size: 36px;
              color: $main-gray-color;
              transition: opacity 0.12s ease-out;
              padding: 4px;
              opacity: 0.4;

              @include transparentHover(false);
            }
          }

          .project-badge {
            position: absolute;
            font: bold 11px "Ubuntu", sans-serif;
            color: $main-white-color;
            text-transform: uppercase;
            background: $main-gray-color;
            padding: 2px 4px;
            border-radius: 4px;
            user-select: none;
            opacity: 0.4;
            z-index: 1;

            @include transparentHover(false);
          }

          .project-badge.live {
            transform: translateX(6px);
          }

          .project-badge.code {
            transform: translateX(3px);
          }
        }
      }
    }
  }
}
