#tech-page
{
  article
  {
    section
    {
      padding: 30px;
      margin: 0 auto;
      max-width: 1110px;

      #tech-all
      {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        font: bold 19px "Ubuntu", sans-serif;
        grid-template-columns: repeat(auto-fit, minmax(248px, 1fr));
        grid-column-gap: 30px; grid-row-gap: 30px;
        -webkit-tap-highlight-color: transparent;
        list-style-type: none;
        user-select: none;
        padding-left: 0;

        .tech-single
        {
          background: $main-turq-color;
          border-top: 16px solid $light-turq-color;
          border-left: 16px solid $middle-truq-color;
          box-shadow: 2px 6px 10px $main-gray-color;
          width: 240px; height: 340px;
          border-radius: 15px;
          cursor: pointer;

          &:hover .tech-card
          { transform: rotateY(180deg); }

          .tech-card
          {
            position: relative;
            width: 100%; height: 100%;
            transition: transform 0.6s;
            transform-style: preserve-3d;
            perspective: 1000px;

            .tech-card-front, .tech-card-back
            {
              position: absolute;
              width: 100%; height: 100%;
              -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
            }

            .tech-card-front
            {
              color: $main-gray-color;
              text-align: center;

              h2 { margin-top: 26px; }
              img { margin-top: 20px; }
            }

            .tech-card-back
            {
              background: $main-turq-color;
              color: $main-gray-color;
              transform: rotateY(180deg);
              border-radius: 15px;

              .skills
              {
                list-style-type: none;
                text-align: left;
                padding: 12px 18px;

                li
                {
                  padding: 5px 0;

                  &::before
                  {
                    font: bold 19px "Ubuntu";
                    color: $main-purple-color;
                    content: "</> ";

// Lots of curly braces lol

                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
