#tech-page
{
  width: 100vw; min-height: 100vh;
  background: linear-gradient(
    $salmon-color 0%,
    $melon-color 100%
  );

  img
  { width: 100vw; }

  article
  {
    min-height: 100vh;
    margin-top: 40px;

    h1
    {
      font: bold 90px "Ubuntu", sans-serif;
      font-size: clamp(1rem, 13vw, 5.6rem);
      text-shadow: 5px 5px $dark-turq-color;
      color: $main-turq-color;
      margin: 0;
      text-align: center;
      padding-top: 20px;
    }

    @media(max-width: 799px)
    { h1 { text-shadow: 3px 3px $dark-turq-color; } }
  }
}
