#home-page
{
  #title
  {
    margin: 50px;

    h1
    {
      font: bold 90px "Ubuntu", sans-serif;
      font-size: clamp(1rem, 7.4vw, 5.6rem);
      text-shadow: 5px 5px $dark-turq-color;
      color: $main-turq-color;
      margin: 0;
      text-align: center;
    }

    p
    {
      font: bold 26px "Ubuntu", sans-serif;
      font-size: clamp(1rem, 5vw, 1.65rem);
      color: $main-gray-color;
      line-height: 1.4;
      margin: 40px 0;
      text-align: center;
    }

    #buttons
    {
      text-align: center;
      margin-bottom: -50px;

      button
      {
        font: 22px "Ubuntu", sans-serif;
        color: $main-gray-color;
        padding: 20px;
        margin: 0px 15px 30px 15px;
        border-radius: 15px;
        outline: none;
        background-color: $main-turq-color;
        transition: .3s all;
        border: 1px solid $main-turq-color;
        border-top: 10px solid $light-turq-color;
        border-left: 10px solid $middle-truq-color;
      }

      button:last-child
      { margin-bottom: 60px; }

      button:hover
      {
        transform: scale(1.1);
        cursor: pointer;
      }

      @media(max-width: 599px)
      {
        button
        {
          font: 18px "Ubuntu", sans-serif;
          padding: 10px;
        }
      }
    }

    #home-path { color: $main-purple-color; text-shadow: 4px 4px $dark-purple-color; }
    .violet { font-weight: 600; color: $main-purple-color; }
  }

  @media(max-width: 1200px)
  {
    #title
    { margin: 20px;}
  }

  @media(max-width: 799px)
  {
    #title
    {
      margin: 12px;

      h1 { text-shadow: 3px 3px $dark-turq-color; }
      #home-path { text-shadow: 2px 2px $dark-purple-color; }
    }
  }
}
