#home-page
{
  #title
  {
    margin: 50px;

    h1
    {
      font: bold 90px "Ubuntu", sans-serif;
      font-size: clamp(1rem, 7.4vw, 5.6rem);
      text-shadow: 5px 5px $dark-turq-color;
      color: $main-turq-color;
      margin: 0;
      text-align: center;
    }

    p
    {
      font: bold 26px "Ubuntu", sans-serif;
      font-size: clamp(1rem, 5.6vw, 1.65rem);
      color: $main-gray-color;
      line-height: 1.4;
      margin: 40px 0;
      text-align: center;
    }

    #home-path
    {
      color: $main-purple-color;
      text-shadow: 4px 4px $dark-purple-color;
    }

    .violet
    {
      font-weight: 600;
      color: $main-purple-color;
    }

    @media(max-width: 1200px)
    { margin: 20px; }

    @media(max-width: 799px)
    {
      margin: 12px;

      h1 { text-shadow: 3px 3px $dark-turq-color; }
      #home-path { text-shadow: 2px 2px $dark-purple-color; }
    }

    @media(max-width: 499px)
    { h1 { text-shadow: 2px 2px $dark-turq-color; } }
  }
}
