:root {
  /* Place your custom properties here, you can find custom variables in:
  github.com/sanity-io/sanity/tree/current/packages/%40sanity/base/src/styles/variables */

  --black: #263238;
  --brand-primary: #8AB4F8;
  --body-text: #263238;
  --main-navigation-color: #263238;
}
