.contact-icons {
  display: inline-flex;
  align-items: center;
  gap: 18px;

  .contact-link {
    width: 28px;
    height: 28px;
    padding: 6px;
    box-sizing: content-box;
    cursor: pointer;

    .contact-icon-img {
      width: 100%;
      height: 100%;
      @include transparentHover(false);
    }

    &:hover > .contact-icon-img {
      opacity: 1;
    }
  }

  #paper-plane-flying {
    animation: paperPlaneFly 1500ms ease;
  }
}
