.footer {
  background: $main-gray-color;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px 30px 30px;
  display: flex;

  ::selection {
    background: $main-white-color;
    color: $main-gray-color;
  }
}
