.project-single {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  height: auto;
  padding: 30px;

  @media (max-width: $small-breakpoint) {
    padding: 60px 30px;
    min-height: 0;
  }

  $icon-padding: 4px;

  .project-header {
    display: flex;
    align-items: center;
    max-width: 100%;
    @include sectionWidth;

    .project-logo {
      image-rendering: high-quality;
      margin-right: 12px;
    }

    .project-info {
      display: flex;
      flex-direction: column;

      .project-title {
        font: bold 32px "Ubuntu", sans-serif;
        color: $main-gray-color;
        margin: 0;

        @media (max-width: $small-breakpoint) {
          font-size: 26px;
        }
      }

      .project-desc {
        margin: 0;
        @include typography;

        @media (max-width: $small-breakpoint) {
          display: none;
        }
      }
    }
  }

  .project-img {
    width: 460px;
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 18px $main-shadow-color;
    margin: 24px 0;
    opacity: 0.9;

    @media (min-width: $big-breakpoint) {
      width: calc(70% - 70px);
      max-width: 830px;
    }
  }

  .project-details {
    display: inline-flex;
    justify-content: space-between;
    max-width: 100%;
    @include sectionWidth;

    .project-sites {
      display: inline-flex;
      margin: ($icon-padding * -1) 0 0 ($icon-padding * -1);
      max-width: 100%;
      list-style: none;
      padding: 0;
      gap: 8px;
      @include sectionWidth;

      .project-site {
        height: 44px;

        .project-link {
          display: block;
          height: 100%;

          &:hover {
            & ~ .project-badge,
            & > .project-icon {
              opacity: 1;
            }
          }

          .project-icon {
            font-size: 36px;
            color: $main-gray-color;
            padding: $icon-padding;
            opacity: 0.4;
            @include transparentHover(false);
          }
        }

        .project-badge {
          position: absolute;
          font: bold 11px "Ubuntu", sans-serif;
          color: $main-white-color;
          text-transform: uppercase;
          background: $main-gray-color;
          padding: 2px 4px;
          border-radius: 4px;
          user-select: none;
          opacity: 0.4;
          z-index: 1;
          @include transparentHover(false);
        }

        .project-badge.live {
          transform: translateX(6px);
        }

        .project-badge.code {
          transform: translateX(3px);
        }
      }
    }

    .project-technologies {
      list-style: none;
      padding: 0;
      margin: 0;

      .project-technology {
        font: bold 20px "Ubuntu", sans-serif;
        color: $main-gray-color;
        text-transform: uppercase;
        white-space: nowrap;
        text-align: right;
        cursor: default;
        opacity: 0.4;
        @include transparentHover;
      }
    }
  }
}
