.project-single {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  height: auto;
  padding: 30px;

  @media (max-width: $small-breakpoint) {
    padding: 60px 30px;
    min-height: 0;
  }

  .project-header {
    display: flex;
    align-items: center;
    max-width: 100%;
    @include sectionWidth;

    .project-logo {
      image-rendering: high-quality;
      margin-right: 12px;
    }

    .project-info {
      display: flex;
      flex-direction: column;

      .project-title {
        font: bold 32px "Ubuntu", sans-serif;
        color: $main-gray-color;
        margin: 0;

        @media (max-width: $small-breakpoint) {
          font-size: 26px;
        }
      }

      .project-short-desc {
        margin: 0;
        @include typography;

        @media (max-width: $small-breakpoint) {
          display: none;
        }
      }
    }
  }

  .project-img {
    border-radius: 8px;
    box-shadow: 0 0 18px $main-shadow-color;
    margin: 24px 0;
    @include indentSectionWidth;

    &.static {
      animation: none;
    }

    &.forward {
      animation: animateProjectForward .4s normal;
    }

    &.backward {
      animation: animateProjectBackward .4s normal;
    }
  }

  .project-details {
    display: flex;
    row-gap: 24px;
    flex-direction: column;
    margin: 24px 0;
    @include indentSectionWidth;

    &.static {
      animation: none;
    }

    &.forward {
      animation: animateProjectForward .4s normal;
    }

    &.backward {
      animation: animateProjectBackward .4s normal;
    }

    .project-desc {
      text-align: justify;
      @include typography;
    }

    .project-details-bottom {
      display: inline-flex;
      justify-content: space-between;

      .project-sites {
        display: inline-flex;
        flex-direction: column;
        max-width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;

        .project-site {
          height: 28px;

          .project-link {
            display: inline-flex;
            align-items: center;
            column-gap: 8px;
            height: 100%;
            opacity: 0.4;
            @include transparentHover;

            &:hover {
              opacity: 1;
            }

            .project-icon {
              font-size: 24px;
              color: $main-gray-color;
            }

            .project-link-title {
              font: bold 20px "Ubuntu", sans-serif;
              color: $main-gray-color;
              text-transform: uppercase;
              white-space: nowrap;
            }
          }
        }
      }

      .project-technologies {
        display: inline-flex;
        flex-direction: column;
        max-width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;

        .project-technology {
          text-align: right;
          height: 28px;

          .project-technology-name {
            font: bold 20px "Ubuntu", sans-serif;
            color: $main-gray-color;
            text-transform: uppercase;
            white-space: nowrap;

            display: inline-flex;
            justify-content: flex-end;
            align-items: center;
            height: 100%;
            opacity: 0.4;
            cursor: default;
            @include transparentHover;
          }
        }
      }
    }
  }

  .project-details-toggle {
    display: inline-flex;
    max-width: 100%;
    @include sectionWidth;

    &.left {
      justify-content: flex-start;
    }

    &.right {
      justify-content: flex-end;
    }

    .project-details-toggle-click {
      display: inline-flex;
      align-items: center;
      column-gap: 8px;
      cursor: pointer;
      @include typography;
    }
  }
}
