.project-single {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  height: auto;
  padding: 30px;

  @media (max-width: $small-breakpoint) {
    padding: 60px 30px;
    min-height: 0;
  }

  .project-header {
    display: flex;
    align-items: center;
    column-gap: 12px;
    max-width: 100%;
    @include sectionWidth;

    .project-logo {
      image-rendering: high-quality;
    }

    .project-info {
      display: flex;
      flex-direction: column;

      .project-title {
        margin: 0;
        @include titleFontBuilder;

        @media (min-width: $big-breakpoint) {
          font-size: clamp(26px, 2.1vw, 32px);
        }

        @media (max-width: $big-breakpoint) {
          font-size: clamp(26px, 4.5vw, 32px);
        }
      }

      .project-short-desc {
        margin: 0;
        @include typography;

        @media (max-width: $small-breakpoint) {
          display: none;
        }
      }
    }
  }

  .project-img {
    border-radius: 1% / 2%;
    box-shadow: 0 0 18px $main-shadow-color;
    margin: 24px 0;
    @include indentSectionWidth;

    &.static {
      animation: none;
    }

    &.forward {
      animation: animateProjectForward 0.4s normal;
    }

    &.backward {
      animation: animateProjectBackward 0.4s normal;
    }
  }

  .project-details {
    display: flex;
    row-gap: 24px;
    flex-direction: column;
    margin: 24px 0;
    @include indentSectionWidth;

    &.static {
      animation: none;
    }

    &.forward {
      animation: animateProjectForward 0.4s normal;
    }

    &.backward {
      animation: animateProjectBackward 0.4s normal;
    }

    .project-desc {
      text-align: justify;
      @include typography;
    }

    .project-details-bottom {
      display: flex;
      justify-content: space-between;

      @media (max-width: $small-breakpoint) {
        flex-direction: column;
        row-gap: 24px;
      }

      .project-sites {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        margin: 0;

        .project-site {
          height: 28px;

          .project-link {
            display: inline-flex;
            align-items: center;
            column-gap: 8px;
            height: 100%;
            @include transparentHover;

            .project-icon {
              font-size: 24px;
              color: $main-gray-color;
            }

            .project-link-title {
              white-space: nowrap;
              text-transform: uppercase;
              @include titleFontBuilder(20px);
            }
          }
        }
      }

      .project-technologies {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        margin: 0;

        .project-technology {
          text-align: right;
          height: 28px;

          @media (max-width: $small-breakpoint) {
            text-align: left;
          }

          .project-technology-name {
            display: inline-flex;
            align-items: center;
            white-space: nowrap;
            text-transform: uppercase;
            height: 100%;
            user-select: all;
            cursor: default;
            @include transparentHover;
            @include titleFontBuilder(20px);
          }
        }
      }
    }
  }

  .project-details-toggle {
    display: flex;
    max-width: 100%;
    @include sectionWidth;

    &.left {
      justify-content: flex-start;

      .project-details-toggle-click:hover .project-details-toggle-icon {
        animation: animatePointingArrowLeft 0.7s infinite;
      }
    }

    &.right {
      justify-content: flex-end;

      .project-details-toggle-click:hover .project-details-toggle-icon {
        animation: animatePointingArrowRight 0.7s infinite;
      }
    }

    .project-details-toggle-click {
      display: inline-flex;
      align-items: center;
      column-gap: 8px;
      cursor: pointer;
      @include typography;
    }
  }
}
