.sidebar-title {
  margin: 0;
  @include titleFontBuilder(44px);

  @media (min-width: $big-breakpoint) {
    font-size: clamp(35px, 2.8vw, 44px);
  }

  @media (max-width: $big-breakpoint) {
    font-size: clamp(35px, 6.2vw, 44px);
  }
}

.sidebar-subtitle {
  margin: 0 0 26px 0;
  @include titleFontBuilder(30px);

  @media (min-width: $big-breakpoint) {
    font-size: clamp(24px, 1.9vw, 30px);
  }

  @media (max-width: $big-breakpoint) {
    font-size: clamp(24px, 4.2vw, 30px);
  }
}

