.sidebar-content {
  margin: auto auto;

  .sidebar-title {
    font: bold 44px "Ubuntu", sans-serif;
    color: $main-gray-color;
    margin: 0;

    @media (max-width: $small-breakpoint) {
      font-size: 35px;
    }
  }

  .sidebar-subtitle {
    font: bold 30px "Ubuntu", sans-serif;
    color: $main-gray-color;
    margin: 0 0 25px 0;

    @media (max-width: $small-breakpoint) {
      font-size: 24px;
    }
  }

  .sidebar-desc {
    margin: 0 0 28px 0;
    max-width: 450px;
    @include typography;
  }
}
