.skill-single {
  display: flex;
  position: relative;
  justify-content: center;
  padding: 35px 0;
  @include sectionWidth;

  &:nth-child(2n) > .skill-content {
    justify-content: flex-end;
  }

  .skill-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
    max-width: 100%;
    width: 100%;

    @media (max-width: $small-breakpoint) {
      flex-direction: column;
      width: auto;
    }

    .skill-img {
      image-rendering: high-quality;
      height: 160px;
      width: 160px;

      @media (min-width: $big-breakpoint) {
        width: clamp(130px, 10.5vw, 160px);
        height: clamp(130px, 10.5vw, 160px);
      }

      @media (max-width: $big-breakpoint) {
        width: clamp(130px, 22.5vw, 160px);
        height: clamp(130px, 22.5vw, 160px);
      }
    }

    .skill-desc {
      max-width: 100%;
      width: 360px;

      @media (max-width: $small-breakpoint) {
        margin: 20px 0 0;
      }

      .skill-title {
        margin: 0 0 12px;
        @include titleFontBuilder;

        @media (min-width: $big-breakpoint) {
          font-size: clamp(26px, 2.1vw, 32px);
        }

        @media (max-width: $big-breakpoint) {
          font-size: clamp(26px, 4.5vw, 32px);
        }
      }

      .skill-details {
        list-style: none;
        padding: 0;
        margin: 0;

        .skill-detail {
          @include typography;

          &::before {
            content: "#";
            font: 16px "Ubuntu", sans-serif;
            color: $main-action-color;
            margin-right: 5px;
          }
        }
      }
    }
  }
}
