---
import '@/styles/variables.css';
import '@/styles/base.css';
import '@/styles/swup.css';
import '@/styles/globals.css';
import '@/styles/fonts.css';

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="keywords" content="frontend, developer, dev, tech, modern, react, vue" />
    <meta name="robots" content="index, follow" />
    <meta
      name="description"
      content="This website is a “Launchpad” for projects of mine, as well as an aggregation of all the necessary information about stuff that i do and which i would like to share with the world."
    />
    <meta
      property="og:description"
      content="This website is a “Launchpad” for projects of mine, as well as an aggregation of all the necessary information about stuff that i do and which i would like to share with the world."
    />
    <meta property="og:title" content="Personal Website" />
    <meta property="og:image" content="https://sobekcore.com/thumbnail.png" />
    <meta property="og:url" content="https://sobekcore.com" />
    <meta property="og:locale" content="en_US" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title} | sobekcore.com</title>
    <slot name="head" />
  </head>
  <body>
    <div id="swup">
      <slot />
    </div>
    <script src="../index.ts"></script>
  </body>
</html>
