---
import '@/styles/variables.css';
import '@/styles/base.css';

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title} | sobekcore.com</title>
  </head>
  <body>
    <div id="swup">
      <slot />
    </div>
  </body>
</html>

<script>
  import Swup from 'swup';
  import SwupSlideTheme from '@swup/slide-theme';
  import SwupHeadPlugin from '@swup/head-plugin';
  import SwupScriptsPlugin from '@swup/scripts-plugin';
  import SwupA11yPlugin from '@swup/a11y-plugin';
  import { defineCustomElement } from 'ionicons/components/ion-icon';

  new Swup({
    plugins: [new SwupSlideTheme(), new SwupHeadPlugin(), new SwupScriptsPlugin(), new SwupA11yPlugin()],
  });

  defineCustomElement();
</script>
